<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form th:action="@{/employee/actualizar/{id} (id = ${employee.id})}" method="post">

    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" th:field="${employee.nombre}">

    <label for="correo">Correo</label>
    <input type="number" id="correo" th:field="${employee.correo}">

    <label for="telefono">Teléfono</label>
    <input type="number" id="telefono" th:field="${employee.telefono}">

    <label for="rol">Rol</label>
    <input type="text" id="rol" th:field="${employee.rol}">

    <input type="submit" value="Actualizar" >

</form>
</body>
</html>