<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="main">
        <div class="logo">
            <img src="https://im.ge/i/19gRdp" alt="">
        </div>
        <div class="cont-directory">
            <div class="directory">
                <a href="/sistemaIngresos">Ingreso y egresos</a>
            </div>
            <div class="directory">
                <a href="/employee">Usuarios</a>
            </div>
            <div class="directory">
                <a href="/enterprise">Empresas</a>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="sistem-ingresos divcontent"><a href="/sistemaIngresos">Sistema de gestión de ingresos y gastos</a></div>
        <div class="sistem-gastos divcontent" ><a href="/employee">Sistema de gestión de usuarios</a></div>
        <div class="sistem-empresa divcontent"><a href="/enterprise">Sistema de gestión de empresas</a></div>
    </div>
</div>
</body>
</html>