<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Sistema Ingreso</title>
</head>
<body>
    <div class="container">
        <div class="main">
            <div class="logo">
                <img src="img/1.png" alt="">

            </div>
        
            <div class="cont-directory">
                <div class="directory">
                    <a href="/sistemaIngresos">Ingreso y egresos</a>
                </div>
                <div class="directory">
                    <a href="/employee">Usuarios</a>
                </div>
                <div class="directory">
                    <a href="/enterprise">Empresas</a>
                </div>
            </div>
        </div>


        <div class="ingresos">
            <div class="contIngreso">

                <div class="title1">
                    <h2>Sistema de gestión de Ingresos y Gastos</h2>
                </div>

                <div class="ingresosegresos"><h3>Ingresos y egresos</h3></div>

                <div class="nuevoingreso"><h3>Nuevo</h3></div>

                <div class="mostrarDatos">
                    <div class="hdates">

                        <!--<h5 th:text="${employee:${employees}"></h5>-->
                        <div class="cabeceraInt">
                            <h4>Concepto</h4>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                        </div>
                        
                        <div class="cabeceraInt">
                            <h4>Monto</h4>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                        </div>
                        
                        <div class="cabeceraInt">
                            <h4>Fecha</h4>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                        </div>
                        <div class="cabeceraInt">
                            <h4>Usuario</h4>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                            <p>mundo</p>
                            <p>hola</p>
                        </div>
                    </div>
                </div>

                <div class="total">
                    <p>Total</p>
                </div>

            </div>
        </div>
    </div>
</body>
</html>